@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@media only screen and (max-width: 600px) {
    :root{
        /* --headerHeight: 200px; */
        --headerComponentsWidth: 100%;
        --headerDirection: column;
        --changeLangWidth: 100%; 
        --headerMenuHeight: 50px;

        --siteWidth: 100vw;

        --diagramsDirection: column;
        --diagramsWidth: 60%;

        /* --mainMargin: 200px; */
        --mainMargin: 575px;
    }
    #diagrams{
        align-items: center;
    }
}
@media only screen and (min-width: 601px) {
    :root{
        --siteWidth: 100vw;
        --diagramsDirection: column;
        --diagramsWidth: 60%;
        --diagramsPadding: 2%;
    }
    #diagrams{
        align-items: center;
    }
}
/* @media only screen and (min-width: 768px) {} */
@media only screen and (min-width: 992px) {
    :root{
        --siteWidth: 960px;
        --diagramsDirection: row;
        --diagramsWidth: 100%;
        --diagramsPadding: 14%;

        --mainMargin: 200px;
    }
    #diagrams{
        align-items: normal;
    }
}
/* @media only screen and (min-width: 1200px) {} */
/* @media only screen and (min-width: 1440px) {
    :root{
        --siteWidth: 960px;
        
    }
} */
/* @media only screen and (min-width: 1900px) {} */
/* @media only screen and (min-width: 2300px) {} */
/* @media only screen and (min-width: 2600px) {} */

*{
    margin: 0; 
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: white;
    cursor: default;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
header{
    /* CHANGE HEIGHT */
    /* height: 100px; */
    /* height: var(--headerHeight); */
    width: 100%;
    background-color: #1b1b1b;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    /* DIRECTION */
    flex-direction: var(--headerDirection);
    z-index: 3;
    cursor: default;
}
#headerContainer{
    width: var(--siteWidth);
    /* HEIGHT */
    /* height: 150px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* DIRECTION */
    flex-direction: var(--headerDirection);
}
#logo{
    font-weight: 900;
    font-size: 40px;
    text-align: center;
    /* HEIGHT */
    /* height: 100%; */
    /* height: 50%; */
    /* WIDTH */
    /* width: 25%; */
    width: var(--headerComponentsWidth);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
#lastName{
    color: rgb(112, 21, 21);
}
#headerNav{
    font-weight: 900;
    font-size: 20px;
    /* width: 75%; */
    width: var(--headerComponentsWidth);
    /* HEIGHT */
    /* height: 100%; */
    height: 
    /* height: var(--headerMenuHeight); */
    /* overflow: hidden; */
}
#headerNav ul{
    /* HEIGHT */
    /* height: 100%; */
    height: 450px;
    /* height: 75px; */
    display: flex;
    padding: 0;
    flex-direction: var(--headerDirection);
    overflow: hidden;
}
#headerNav li{
    margin: 0 3px 0 3px;
    /* HEIGHT */
    /* height: 100%; */
    min-height: 75px;
    /* width: 20%; */
    width: var(--headerComponentsWidth);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
/* #headerNav li a{
    color: white;
} */
#headerNav li:hover{
    color: rgb(112, 21, 21);;
}
#changeLang{
    background-color:  rgb(112, 21, 21);
    /* HEIGHT */
    /* height: 100%; */
    height: 50px;
    /* WIDTH */
    width: var(--changeLangWidth);
    display: flex;
    justify-content: center;
    align-items: center;
}
#pl, #eng{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: bold;
}
/* #eng{
    width: 40px;
    height: 40px;
    background-color: white;
} */
#main{
    margin-top: var(--mainMargin);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* overflow: hidden; */
}
#introduction{
    color: black;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--siteWidth);
}
#introduction div{
    width: 75%;
}
#introduction div p{
    font-weight: 100;
    font-size: 27px;
}
#introduction div p:first-child{
    display: inline;
    font-weight: 900;
    font-size: 45px;
    margin-bottom: 2%;
    background-image: linear-gradient(to right, black, #440031);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#but{
    height: 100px;
    width: 100px;
    background-color: #540000;
}
#technologies{
    /* height: 90vh; */
    width: var(--siteWidth);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}
#technologies p:first-child{
    padding-top: 2%;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}
#diagrams{
    display: flex;
    /* CHANGE DIRECTION */
    flex-direction: var(--diagramsDirection);
    justify-content: center;
    /* align-items: center; */
    margin: 0 2% 0 2%;
    padding-bottom: 5%;
}
.techElement{
    position: relative;
    width: var(--diagramsWidth);
    margin: 5% 1% 0 1%;
    background-image: linear-gradient(to right, black, rgb(99, 0, 0));
    padding: 3px;
    border-radius: 14px;
    box-shadow: 5px 5px 20px gray;
}
.techDiagram{
    height: 100%;
    width: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.techDiagramBorder{
    position: relative;
    width: 100%;
    height: 90%;
    /* CHANGE PADDING N WIDTH */
    padding-top: var(--diagramsPadding);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background-color: #ffffff;
}
.mainDiagramDot{
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.diagramDot{
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.diagramLine{   
    display: block; 
    width: 1px;
    height: 60px;
}
.webTech{
    width: 80%;
    height: 100%;
}
.techList{
    padding-left: 10px;
}
.techList li{
    height: 75px;
}
.techList li:first-child{
    height: 85px;
    font-size: 22px;
    font-weight: 600;
}
.web{
    background-color: #360809;
}
.prog{
    background-color: #540000;
}
.minicomputers{
    background-color: #270C0D;
}
#projects{
    width: 100%;
    padding-bottom: 5%;
    overflow: hidden;
}
#projectsHeader,#contactHeader,#linksHeader{
    padding-top: 3%;
    font-size: 40px;
    text-align: center;
    font-weight: 600;
}
.projectLeftBorder{
    position: relative;
    left: -30%;
    background-image: linear-gradient(to right, black, rgb(99, 0, 0));
    padding: 3px;
    border-radius: 35px;
    margin-top: 3%;
    box-shadow: 5px 5px 20px gray;
    width: 100%;
    /* overflow: hidden; */
}

.projectRightBorder{
    position: relative;
    right: -30%;
    background-image: linear-gradient(to right, black, rgb(99, 0, 0));
    padding: 3px;
    border-radius: 35px;
    margin-top: 3%;
    box-shadow: 5px 5px 20px gray;
    width: 150%;
    /* overflow: hidden; */
}
.projectLeft{
    background-color: white;
    height: 100%;
    border-radius: 30px;
    display: flex;
    justify-content: right;
}
.projectRight{
    height: 100%;
    background-color: white;
    border-radius: 30px;
    display: flex;
    justify-content: left;
}
.projectContainer{
    width: 700px;
    height: 90%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projectContainer p:first-child{
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 3%;
}
.projectText{
    width: 80%;
    text-indent: 10px;
    font-size: 16px;
    color: #566A5E;
    text-align: center;
}
#projectPhotoContainer{
    position: relative;
    height: 434px;
    width: 500px;
}
.projectPhoto{
    position: relative;
    height: 384px;
    width: 450px;
    transition: transform 1s;
	transform-style: preserve-3d;
}
.projectPhoto.projectPhotoFlip{
    transform: rotateY(180deg);
}
.projectPhotoOne{
    position: absolute;
    -webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transform: rotateY(180deg);
    z-index: 1;
}
.projectPhotoTwo{
    z-index: 1;
    position: absolute;
    -webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
#projectPhotoDotPointer{
    position: absolute;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 2;
    bottom: 70px;
}
.projectPhotoDotPointerContainer{
    position: relative;
    height: 70px;
    width: 70px;
}
.projectPhotoDotBackgroundBox{
    position: absolute;
    height: 70px;
    width: 70px;
    background-color: gray;
    opacity: 0.05;
    z-index: 3;
}
.projectPhotoDotBox{
    position: absolute;
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.projectPhotoDot{
    position: relative;
    opacity: 1;
    height: 8px;
    width: 8px;
    background-color: gray;
    border-radius: 50%;
    z-index: 4;
}
.projectPhotoDotChange.projectPhotoDot{
    transition: transform 1s;
    transform: scale(1.8);
    opacity: 1;
}
#techSliderSection{
    width: 100%;
}
#techSlider{
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#techSliderContainerBorder{
    z-index: 1;
    width: var(--siteWidth);
    padding: 5px;
    background-image: linear-gradient(to right, black, rgb(99, 0, 0));
}
#slideLine{
    background-image: linear-gradient(to right, black, rgb(99, 0, 0));
    width: 100%;
    height: 3px;
    position: absolute;
    z-index: 0;
}
#techSliderContainer{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: var(--siteWidth);
    background-image: linear-gradient(to right, #272727 ,#3f2d3a);

}
.tech{
    display: flex;
    position: relative;
    min-width: 110px;
    max-width: 110px;
    height: 70px;
    background-image: linear-gradient(to right, black, rgb(99, 0, 0));
    margin: 5px;
    justify-content: center;
    align-items: center;
}
.tech:hover{
    background-color: rgb(29, 223, 158);
    font-weight: bold;
}
.slide{
    width: 105px;
    height: 65px;
    background-color: #1b1b1b;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}
#contact{
    width: var(--siteWidth);
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#contactContainer{
    width: 100%;
    height: 100%;
    /* border-radius: 10px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#contactContainer div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}
#contactContainer div:hover{
    color: rgb(112, 21, 21);
}
#links{
    width: var(--siteWidth);
    height: 30vh;
}
#linksContainer{
    height:50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#linksContainer a:hover{
    transform: scale(1.1);
    color:  rgb(112, 21, 21);
}

footer{
    height: 200px;
    width: 100%;
    background-color: #1b1b1b;
    bottom: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#footerContainer{
    height: 100%;
    width: var(--siteWidth);
    display: flex;
    flex-direction: row;
}
#socialMedia{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}
.contactElement{   
    margin-left: 20%;
}
.contactElement a{
    color: white;
}   
.contactElement a:hover{
    color:  rgb(112, 21, 21);
}   
#mark{
    text-align: center;
    color: gray;
    padding-bottom: 2%;
}
.techIcons{
    display: flex;
    flex-direction: row;
    margin: 20px 0 20px 0;
    font-size: 13px;
}
.icon{
    height: 25px;
    width: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 5px 0 5px;
    border-radius: 30px;
}
.iconJs{
    background-color: #F0EB8A;
}
.iconHTML{
    background-color:#DC5F5F;
}
.iconCSS{
    background-color: #415798;
}
.iconCpp{
    background-color: #5B84FF;
}
.iconRasp{
    background-color: #DC5F9B;
}
.iconC{
    background-color: #24ABFF;
}
.iconArduino{
    background-color: #A3FFBC;
}
.iconPhp{
    background-color: #C549FF;
}
.iconJava{
    background-color: #fff652;
}
.projectLinks{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 15px;
}
.liveDemo{
    height: 40px;
    width: 140px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.1px solid;
}
.code{
    height: 40px;
    width: 140px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.1px solid;
    margin: 5px 5px 5px 5px;
}
.projectLinks a{
    position: absolute;
    height: 40px;
    width: 140px;
}
.code:hover,.liveDemo:hover{
    color:  rgb(112, 21, 21);
    font-weight: bold;
}
#goToTop{
    position: fixed;
    right: 5%;
    bottom: 5%;
    background-color: black;
    color: white;
    z-index: 4;
    border-radius: 10px;
}
